.navBarn {
  background-color: brown;
  color:antiquewhite;
  font-size: medium;
  padding: 5px;
  border-style: dotted;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {        
  list-style-type: none;
  margin-right: 2em;
}

h4 {
  display: flex;
  color: antiquewhite;
  margin: 5px;

}

body {
  background-color: khaki;
}

button {
  background-color: lightcoral;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  margin: 5px;
  width: fit-content;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 5px dotted black;
  background-color: rgba(255, 255, 255, 0.581);
  margin: auto;
  padding: 15px;
    position: absolute;  /*grabbed from internet to center the form nicely */
    top: 50%;
    left: 50%;
    margin-top: -100px;     /* Half of height */
    margin-left: -150px; 
}

h3 {
  width: fit-content;
  border: 2px solid brown;
  padding: 3px;
  border-radius: 5px;
  margin: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
  margin: 5px;
  width: fit-content;
}
